@use "../../styles/colors";
@use "../../styles/mixin" as *;
.header,
header {
  color: var(--text-default);
  position: sticky;
  top: 0;
  background-color: var(--background-light);
  backdrop-filter: blur(8px);
  padding: 0 2rem;
  width: 100dvw;
  height: 5rem;
  z-index: 9999;
  .dialog {
    outline: none;
    max-height: 100dvh;
    &::backdrop {
      background-color: var(--background-light);
      filter: brightness(50%);
    }
    .dialog_box {
      border: 1px solid var(--defualt-border);
      outline: none;
      position: fixed;
      left: 50%;
      overflow: hidden;
      margin-top: 5rem;
      transform: translate(-50%);
      border-radius: 0.3rem;
      width: 100%;
      max-width: 560px;
      box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
      background-color: var(--background-surface-layer-01);
      display: flex;
      flex-direction: column;
      .sreach_box {
        width: 100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        .cancel {
          color: var(--brand-primary);
          display: none;
          cursor: pointer;
        }
        .search_input {
          border: 2px solid var(--brand-primary);
          width: 100%;
          background-color: var(--page-default);
          color: var(--text-default);
          border-radius: 8px;
          display: flex;
          align-items: center;
          .icon {
            margin: 0 10px;
            color: var(--brand-primary);
          }
          input {
            all: unset;
            height: 44px;
            font-size: 14px;
            width: 100%;
          }
        }
      }
      .sreaches {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 8rem;
        font-size: 14px;
        color: var(--text-placeholder);
      }
      .dialog_footer {
        background-color: var(--page-default);
        width: 100%;
        padding: 0.8rem;
        font-size: 12px;
        height: 3rem;
        color: var(--text-placeholder);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .algolia {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
        .keys {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;
          .key {
            display: flex;
            align-items: center;
            gap: 4px;
            .key_btn {
              all: unset;
              background-color: var(--background-surface-layer-01);
              height: 1rem;
              border: 1px solid var(--page-default);
              width: 1.2rem;
              box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .nav,
  nav {
    margin-inline: auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    display: flex;
    .a {
      min-width: 10rem;
      color: var(--text-default);
    }
    .menus {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }
  .right {
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .button {
        all: unset;
        color: var(--text-light);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 0.87rem;
        font-weight: 400;
        border-radius: 9999px;
        border: 1px solid var(--border-strong);
        padding: 0.5rem 0.625rem;
        cursor: pointer;
        &:hover {
          filter: brightness(118%);
        }
        .key {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.6rem;
          background-color: var(--background-surface-layer-02);
          padding: 0.2rem 0.4rem;
          border-radius: 9999px;
        }
      }
    }
  }
}

.menu {
  cursor: pointer;
  position: relative;
  .title {
    color: var(--text-medium);
    display: flex;
    align-items: center;
    gap: 6px;
    .sqr {
      position: absolute;
      height: 1rem;
      aspect-ratio: 1;
      box-shadow: -1px -1px 6px var(--background-surface-layer-02);
      background-color: var(--page-default);
      rotate: 45deg;
      bottom: -32px;
      left: 50%;
      z-index: 1;
      translate: -50%;
      display: none;
      animation: fade-up 0.1s linear;
      border-top: 1px solid var(--background-surface-layer-02);
      border-left: 1px solid var(--background-surface-layer-02);
    }
  }
  .subMenu {
    position: absolute;
    background-color: transparent;
    display: none;
    overflow: hidden;
    &.center {
      left: 50%;
      translate: -50%;
    }
    .container {
      background-color: var(--page-default);
      border-radius: 10px;
      margin-top: 1.5rem;
      box-shadow: 0.5px 0.5px 4px var(--background-surface-layer-02),
        -0.5px -0.5px 4px var(--background-surface-layer-02);
      animation: fade-up 0.1s linear;
      border: 1px solid var(--background-surface-layer-02);
    }
  }

  &:hover {
    .sqr,
    .subMenu {
      display: block;
    }
  }
}

.grid__container {
  padding: 1rem;
  display: grid;
  &.grid_col_1 {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  &.grid_col_2 {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
.item a {
  display: flex;
  text-decoration: none;
  gap: 10px;
  padding: 1rem;
  border-radius: 12px;
  &:hover {
    background-color: var(--background-surface-layer-01);
  }
  .icon_box {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.blue {
      background-color: var(--background-blue);
    }
    &.green {
      background-color: var(--background-green);
    }
    &.cyan {
      background-color: var(--background-cyan);
    }
    &.pink {
      background-color: var(--background-pink);
    }
    &.yellow {
      background-color: var(--background-yellow);
    }
    &.indigo {
      background-color: var(--background-indigo);
    }
    .icon {
      &.blue {
        color: var(--text-blue);
      }
      &.green {
        color: var(--text-green);
      }
      &.cyan {
        color: var(--text-cyan);
      }
      &.pink {
        color: var(--text-pink);
      }
      &.yellow {
        color: var(--text-yellow);
      }
      &.indigo {
        color: var(--text-indigo);
      }
    }
  }
  .info {
    .title {
      font-weight: 600;
      color: var(--text-default);
      font-size: 1rem;
      margin-bottom: 4px;
    }
    .caption {
      font-weight: 600;
      color: var(--text-placeholder);
      font-size: 0.75rem;
    }
  }
}

.new_btn {
  all: unset;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border-radius: 9999px;
  padding: 1px;
  p {
    color: var(--text-light-btn);
    text-transform: uppercase;
    font-size: 7px;
    padding: 3px 6px;
    background-color: var(--button-bg);
    z-index: 1;
    border-radius: 9999px;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
      to top,
      transparent 10%,
      var(--text-light-btn)
    );
    animation: 4s infinite linear rotate;
  }
}

.os__footer {
  width: 100%;
  text-decoration: none;
  background-color: var(--background-surface-layer-01);
  padding: 1rem;
  border-top: 1px solid var(--background-surface-layer-02);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  svg {
    height: 48px;
    aspect-ratio: 1;
  }
  p {
    color: var(--text-light);
    font-size: 1rem;
  }
}
.com__footer {
  width: 100%;
  text-decoration: none;
  background-color: var(--background-surface-layer-01);
  padding: 1rem 2rem;
  border-top: 1px solid var(--background-surface-layer-02);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  div {
    display: flex;
    gap: 10px;
  }
  p {
    color: var(--text-light);
    font-size: 1rem;
  }
}

.burger_menu {
  display: none;
}

.burger_nav {
  .overlay {
    position: absolute;
    inset: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--page-default);
    z-index: -1;
  }
  .burger {
    cursor: pointer;
  }
  .container {
    position: absolute;
    width: 100dvw;
    z-index: 9999;
    left: 50%;
    translate: -50%;
    padding: 1rem;
    padding-bottom: 3rem;
    overflow: auto;
    max-height: 95dvh;
  }
  .content {
    width: 100%;
    min-width: 322px;
    background-color: var(--page-default);
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 4px var(--background-surface-layer-02),
      -0.5px -0.5px 4px var(--background-surface-layer-02);
    animation: fade-out 0.05s linear;
    border: 1px solid var(--background-surface-layer-02);
    overflow: hidden;
  }
}

.theme {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    color: var(--text-light);
  }
  .theme_actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    .btn {
      color: var(--text-light);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      background-color: transparent;
      font-size: 0.87rem;
      font-weight: 400;
      border-radius: 999999px;
      border: 1px solid var(--border-strong);
      padding: 0.825rem;
      cursor: pointer;
    }
  }
}

.nav_section {
  border-bottom: 1px solid var(--border-strong);
  padding: 1rem;
  .nav_indi {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav_title {
    font-weight: 600;
    color: var(--text-default);
    font-size: 1rem;
  }
  .nav_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
  }
}

.mob_nav {
  display: none;
  border-bottom: 1px solid var(--border-strong);
  background-color: var(--page-default);
  .mob_nav_header {
    .nav_indi {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .nav_title {
      font-weight: 600;
      color: var(--text-default);
      font-size: 1rem;
    }
    .indicator {
      height: 1rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1.5px solid var(--text-placeholder);
      display: flex;
      color: var(--text-placeholder);
      justify-content: center;
      align-items: center;
    }
  }
  .mob_nav_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 1rem;
  }
}

// animation
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-out {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

// screens
@include xs {
  .header,
  header {
    .left .menus,
    .right .actions {
      display: none;
    }
    .burger_menu {
      display: block;
    }
    .nav_section {
      display: none;
    }
    .mob_nav {
      display: block;
    }
    .item a {
      border-radius: 0;
    }
    .dialog {
      .dialog_box {
        height: 100dvh;
        width: 100dvw;
        margin-top: 0;
        .sreach_box {
          padding: 0.5rem;
          .cancel {
            display: block;
          }
        }
        .dialog_footer {
          .keys .key {
            display: none;
          }
        }
      }
    }
  }
}

@include sm {
  .header,
  header {
    .left .menus,
    .right .actions {
      display: none;
    }
    .burger_menu {
      display: block;
    }
    .nav_section {
      &:nth-child(4) {
        border: none;
      }
    }
    .dialog {
      .dialog_box {
        height: 100dvh;
        width: 100dvw;
        margin-top: 0;
        .sreach_box {
          .cancel {
            display: block;
          }
        }
        .dialog_footer {
          .keys .key {
            display: none;
          }
        }
      }
    }
  }
}

@include lg {
  .header,
  header {
    .nav {
      justify-content: center;
    }
    .left .menus {
      margin-inline: 2rem;
    }
    .left .a {
      min-width: fit-content;
    }
    .right .actions .button .key {
      display: none;
    }
  }
}
