@use "../../styles/colors";

.header,
header {
  position: sticky;
  top: 0;
  background-color: rgba(10, 10, 40, 0.01);
  backdrop-filter: blur(8px);
  padding: 0 1rem;
  width: 100dvw;
  height: 5rem;
  z-index: 9999;
  .nav,
  nav {
    margin-inline: auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    display: flex;
    .a {
      min-width: 10rem;
    }
    .menus {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }
  .right {
    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .button {
        all: unset;
        color: var(--text-light);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 0.87rem;
        font-weight: 400;
        border-radius: 9999px;
        border: 1px solid var(--border-strong);
        padding: 0.5rem 0.625rem;
        cursor: pointer;
        &:hover {
          filter: brightness(118%);
        }
        .key {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.6rem;
          background-color: var(--background-surface-layer-02);
          padding: 0.2rem 0.4rem;
          border-radius: 9999px;
        }
      }
    }
  }
}

.menu {
  cursor: pointer;
  position: relative;
  .title {
    color: var(--text-medium);
    display: flex;
    align-items: center;
    gap: 6px;
    .sqr {
      position: absolute;
      height: 1rem;
      aspect-ratio: 1;
      box-shadow: -1px -1px 6px var(--background-surface-layer-02);
      background-color: var(--page-default);
      rotate: 45deg;
      bottom: -32px;
      left: 50%;
      z-index: 1;
      translate: -50%;
      display: none;
      animation: fade 0.1s linear;
      border-top: 1px solid var(--background-surface-layer-02);
      border-left: 1px solid var(--background-surface-layer-02);
    }
  }
  .subMenu {
    position: absolute;
    background-color: transparent;
    display: none;
    overflow: hidden;
    &.center {
      left: 50%;
      translate: -50%;
    }
    .container {
      background-color: var(--page-default);
      border-radius: 10px;
      margin-top: 1.5rem;
      box-shadow: 0.5px 0.5px 4px var(--background-surface-layer-02),
        -0.5px -0.5px 4px var(--background-surface-layer-02);
      animation: fade 0.1s linear;
      border: 1px solid var(--background-surface-layer-02);
    }
  }

  &:hover {
    .sqr,
    .subMenu {
      display: block;
    }
  }
}

.grid__container {
  padding: 1rem;
  display: grid;
  &.grid_col_1 {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  &.grid_col_2 {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  .item a {
    display: flex;
    text-decoration: none;
    gap: 10px;
    padding: 1.6rem 0.685rem;
    border-radius: 12px;
    &:hover {
      background-color: var(--background-surface-layer-01);
    }
    .icon_box {
      height: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.blue {
        background-color: var(--background-blue);
      }
      &.green {
        background-color: var(--background-green);
      }
      &.cyan {
        background-color: var(--background-cyan);
      }
      &.pink {
        background-color: var(--background-pink);
      }
      &.yellow {
        background-color: var(--background-yellow);
      }
      &.indigo {
        background-color: var(--background-indigo);
      }
      .icon {
        &.blue {
          color: var(--text-blue);
        }
        &.green {
          color: var(--text-green);
        }
        &.cyan {
          color: var(--text-cyan);
        }
        &.pink {
          color: var(--text-pink);
        }
        &.yellow {
          color: var(--text-yellow);
        }
        &.indigo {
          color: var(--text-indigo);
        }
      }
    }
    .info {
      .title {
        font-weight: 600;
        color: var(--text-default);
        font-size: 1.2rem;
        margin-bottom: 4px;
      }
      .caption {
        font-weight: 600;
        color: var(--text-placeholder);
        font-size: 0.75rem;
      }
    }
  }
}

.os__footer {
  width: 100%;
  text-decoration: none;
  background-color: var(--background-surface-layer-01);
  padding: 1rem;
  border-top: 1px solid var(--background-surface-layer-02);
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    color: var(--text-light);
    font-size: 1.2rem;
  }
}
.com__footer {
  width: 100%;
  text-decoration: none;
  background-color: var(--background-surface-layer-01);
  padding: 1rem 2rem;
  border-top: 1px solid var(--background-surface-layer-02);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  div{
    display: flex;
    gap: 10px;
  }
  p {
    color: var(--text-light);
    font-size: 1.2rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
