@use "../../styles/colors";

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .container {
    .box {
      width: 100%;
      padding-inline: 2.5rem;
      h2 {
        font-size: 32px;
        color: var(--text-default);
        font-weight: 500;
        span {
          font-weight: 600;
          color: var(--brand-primary);
        }
        span:last-child {
          color: red;
        }
        span:nth-child(1) {
          color: #26d97f;
        }
        &:is([data-theme="light"] *) {
          span:last-child {
            color: #8000ff;
          }
          span:nth-child(1) {
            color: var(--brand-primary);
          }
          span:nth-child(2) {
            color: #3333ff;
          }
        }
      }
    }
    .box_2 {
      margin-top: 5rem;
      padding-bottom: 2.5rem;
      .container {
        padding-bottom: 2.5rem;
        background-color: var(--background-surface-layer-01);
        border-radius: 1.5rem;
        overflow: hidden;
        position: relative;
        isolation: isolate;
        .info {
          margin-top: 2.5rem;
          padding-inline: 2.5rem;
          .title {
            width: 100%;
            h4 {
              color: var(--text-medium);
              font-size: 1.5rem;
              line-height: 2rem;
              font-weight: 600;
            }
          }
          .action {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: end;
            h6 {
              font-size: 1rem;
              line-height: 1.5rem;
              font-weight: 500;
              color: var(--text-placeholder);
            }
          }
        }
        .packages {
          padding-top: 2.5rem;
          width: 100%;
          position: relative;
          &::after,
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            z-index: 2;
            width: 10%;
            top: 0;
          }
          &::before {
            right: 0;
            background-image: linear-gradient(
              to left,
              var(--background-surface-layer-01) 40%,
              rgba(255, 255, 255, 0)
            );
          }
          &::after {
            left: 0;
            background-image: linear-gradient(
              to right,
              var(--background-surface-layer-01) 40%,
              rgba(255, 255, 255, 0)
            );
          }
          .slide {
            display: flex;
            padding-top: 1.5rem;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
.linear_gradient:is([data-theme="light"] *) {
  background-image: radial-gradient(
    50% 100% at 50% -60%,
    #0080ff26 0,
    transparent 100%
  );
}
.linear_gradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(
    50% 100% at 50% -40%,
    #47ebeb26 0,
    transparent 100%
  );
}

.card {
  padding: 1rem;
  padding-right: 1.5rem;
  background-color: var(--page-default);
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  .name {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    color: var(--text-medium);
  }
  &:hover {
    .indicator {
      transform: scale(1);
    }
  }
  .indicator {
    transform-origin: top center;
    position: absolute;
    top: -48px;
    right: 50%;
    translate: 50%;
    transform: scale(0);
    background-color: var(--text-default);
    transition: 0.15s;
    border-radius: 999px;
    .command {
      padding: 0.75rem 1.5rem;
      color: var(--text-inverse);
      white-space: nowrap;
      font-size: 0.875rem;
      line-height: 1.25rem;
      position: relative;
      z-index: 20;
      &::after {
        position: absolute;
        content: "\26CA";
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
        color: var(--text-default);
      }
    }
  }
}

.carousel {
  background-color: transparent;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  isolation: isolate;
  position: relative;
  gap: 1rem;
  &:hover {
    .slider {
      animation-play-state: paused;
    }
  }
  .slider {
    display: flex;
    gap: 1rem;
    animation: 50s slider infinite linear;
  }
}

@keyframes slider {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
