@use "../../styles/colors";
@use "../../styles/mixin" as *;

.section {
  .box {
    width: 100%;
    padding-inline: 2.5rem;
    h2 {
      font-size: 32px;
      color: var(--text-default);
      font-weight: 500;
      span {
        font-weight: 600;
        color: var(--brand-primary);
      }
    }
    p {
      max-width: 28rem;
      margin-top: 1.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--text-placeholder);
    }
  }
  .box_2 {
    margin-top: 5rem;
    .container {
      padding-top: 5rem;
      padding-left: 2.5rem;
      height: 688px;
      background-color: var(--background-surface-layer-01);
      border-radius: 1.5rem;
      isolation: isolate;
      overflow: hidden;
      position: relative;
      display: flex;

      .info {
        h3 {
          line-height: 1.75rem;
          font-size: 1.25rem;
          font-weight: 600;
          color: var(--text-medium);
        }
        p {
          margin-top: 1.5rem;
          font-size: 1rem;
          line-height: 1.5rem;
          color: var(--text-placeholder);
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          row-gap: 1rem;
          column-gap: 0.5rem;
          margin-top: 2.5rem;
          width: max-content;
          .btn {
            all: unset;
            background-color: var(--page-default);
            padding: 0.5rem 1rem;
            border-radius: 9999px;
            width: max-content;
            display: flex;
            align-items: center;
            width: max-content;
            font-size: 1rem;
            line-height: 1.5rem;
            gap: 0.25rem;
            justify-content: flex-start;
            z-index: 1;
            cursor: pointer;
            color: var(--text-placeholder);
            .red {
              color: red;
            }
            .orange {
              color: #f98c1f;
            }
            .yellow {
              color: #f9d51f;
            }
            .cyan {
              color: #47d1bf;
            }
            .blue {
              color: #3db8f5;
            }
            .purple {
              color: #5959ff;
            }
            .title {
              font-size: 1rem;
              line-height: 1.5rem;
              text-transform: capitalize;
            }
          }
        }
      }
      .content {
        flex: 1;
        background-color: transparent;
        .image {
          height: 464px;
          width: 100%;
          position: relative;
          transform: translateX(150px);
          img {
            transition: translate 1s;
            position: absolute;
            width: auto;
            height: 100%;
            object-position: top left;
          }
        }
        .code {
          width: 488px;
          position: absolute;
          transition: 0.5s ease-out;
          img {
            background-color: var(--page-default);
            height: 100%;
            width: 100%;
            border-radius: 0.75rem;
            box-shadow: 2px 8px 50px rgba(0, 0, 0, 0.2);
            object-fit: cover;
            z-index: 2;
          }
        }
      }
    }
  }
}

.linear_gradient {
  --angle: 100deg;
  position: absolute;
  inset: 0;
  z-index: 1;
  --red: #301d2f;
  --orange: #34292c;
  --yellow: #34322d;
  --cyan: #243343;
  --blue: #202d41;
  --purple: #222341;
  &:is([data-theme="light"] *) {
    --red: #efdde0;
    --orange: #f5ecde;
    --yellow: #f4e4df;
    --cyan: #d6e9ec;
    --blue: #d8e8f7;
    --purple: #e1def4;
  }
  &.red {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--red)
    );
  }
  &.orange {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--orange)
    );
  }
  &.yellow {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--yellow)
    );
  }
  &.cyan {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--cyan)
    );
  }
  &.blue {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--blue)
    );
  }
  &.purple {
    background-image: linear-gradient(
      var(--angle),
      transparent 65%,
      var(--purple)
    );
  }
}

// screens
@include xs {
  .section {
    .box {
      padding-inline: 1rem;
      h2 {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      p {
        margin-top: 1rem;
      }
    }
    .box_2 {
      margin-top: 2rem;
      .container {
        height: 752px;
        padding: 1rem 0rem 1rem 1rem;
        flex-direction: column;
        .info {
          padding-right: 1.5rem;
          h3 {
            font-size: 1rem;
            line-height: 1.5rem;
          }
          .grid {
            margin-top: 1rem;
            .btn {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
        }
        .content {
          width: 100%;
          padding-block: 1rem;
          .image {
            height: 400px;
            transform: translateX(40px);
          }
          .code {
            translate: -80px 70px;
            transform: scale(0.7);
          }
        }
      }
    }
  }
  .linear_gradient {
    --angle: 90deg;
  }
}
@include sm {
  .section {
    .box {
      padding-inline: 1rem;
    }
    .box_2 {
      margin-top: 3rem;
      .container {
        height: 874px;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        flex-direction: column;
        .info {
          max-width: 540px;
          .grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
        }
        .content {
          width: 100%;
          padding-block: 3rem;
          .image {
            transform: translateX(60px);
          }
          .code {
            translate: -20px 60px;
          }
        }
      }
    }
  }
  .linear_gradient {
    --angle: 95deg;
  }
}
@include lg {
  .section {
    .box_2 {
      margin-top: 3rem;
      .container {
        height: 984px;
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        flex-direction: column;
        .info {
          max-width: 760px;
          .grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
        }
        .content {
          width: 100%;
          padding-top: 5rem;
          .image {
            height: 600px;
            transform: translateX(100px);
          }
          .code {
            translate: -20px 70px;
          }
        }
      }
    }
  }
  .linear_gradient {
    --angle: 90deg;
  }
}
@include xl {
  .section {
    .box_2 {
      .info {
        max-width: 416px;
        margin-top: 4rem;
      }
    }
  }
  .linear_gradient {
    --angle: 65deg;
  }
}
