@use "../../styles/colors";
.section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  .info {
    padding-block: 2rem;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    .star_github {
      all: unset;
      border-radius: 9999px;
      cursor: pointer;
      position: relative;
      padding: 1px;
      background-color: var(--border-strong);
      isolation: isolate;
      overflow: hidden;
      width: fit-content;
      a {
        text-decoration: none;
      }
      .btn {
        background-color: var(--page-default);
        border-radius: 9999px;
        color: var(--text-light);
        padding: 0.4rem 0.6rem;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 0.75rem;
        font-weight: 400;
        span {
          font-weight: 700;
        }
        .star {
          margin-right: 0.4rem;
          &:is([data-theme="dark"] *) {
            filter: drop-shadow(0px 0px 3px #ff993330)
              drop-shadow(0px 0px 6px #ff9933a0)
              drop-shadow(0px 0px 16px #ff9933a0) drop-shadow(0px 0px 16px #f93);
          }
        }
      }

      &:is([data-theme="dark"] *)::after {
        content: "";
        position: absolute;
        height: 6rem;
        filter: blur(24px);
        aspect-ratio: 1;
        background-color: rgba(255, 153, 51, 0.4);
        border-radius: 9999px;
        top: -2rem;
        left: -2rem;
        z-index: -1;
        animation: 10s linear infinite alternate move-in-x;
      }
    }
  }

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 60%;
    h1 {
      font-size: 56px;
      font-weight: 800;
      line-height: 72px;
    }
    .caption {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-medium);
      max-width: 60%;
      line-height: 1.5rem;
    }
  }

  .actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

// animation
@keyframes move-in-x {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(100px);
  }
}
