/* colors.scss */
:root {
  //page
  --page-default: #ffffff;
  --page-weak: #f6f8fa;

  //background
  --background-surface-layer-01: #F4F8FB;
  --background-surface-layer-02: #DEE5ED;
  --background-surface-layer-03: #e4e7eb;
  --background-inverse: #1b1f24;
  --background-defualt: #eee;

  --background-blue:#e5f2ff;
  --background-green:#e8f7ef;
  --background-cyan:#e6f3f3;
  --background-pink:#fdeefa;
  --background-indigo:#eaeaff;
  --background-yellow:#fff5ea;

  //text
  --text-default: #1b1f24;
  --text-medium: #2d343b;
  --text-placeholder: #6c7793;
  --text-inverse: #f6f8fa;
  --text-light: #6C7793;

  --text-blue: #6EB3F7;
  --text-green: #26D97F;
  --text-cyan: #47EBEB;
  --text-pink: #ED5EC9;
  --text-indigo: #8080FF;
  --text-yellow: #FFBF00;

  --text-light-btn: #58acff;

//   brand colors
--brand-primary: #0080FF;

  //border
  --border-primary: #ccd1d5;
  --border-primary-inverse: #646cff;
  --border-strong: #acb2b9;
  --border-default: #ccd1d5;
  --border-weak: #e4e7eb;
  --border-disabled: #f6f8fa;

  //button
  --button-primary: #4368e3;
  // --button-primary: #7F27FF;
  --button-primary-active: #7f27ff;
  --button-primary-hover: #864df6;
  --button-primary-pressed: #7f27ff;
  --button-primary-disabled: var(--button-primary);

  --button-bg: #e5f2ff;

  //controls
  --switch-tab: #ffffff;
  --switch-tag: #ccd1d54d;
  --switch-background-off: #ddd;
  --switch-background-on: #4368e3;
  --slider-handle: #ffffff;
  --slider-track: #e4e7eb;
  --slider-fill: #4368e3;
}

[data-theme="dark"] {
  //page
  --page-default: #14141F;
  --page-weak: #242424;

  //background

  --background-surface-layer-01: #1D1E30;
  --background-surface-layer-02: #303450;
  --background-surface-layer-03: #3c434b;
  --background-Inverse: #fafcff;
  --background-defualt: #121212;

  --background-blue:#283145;
  --background-green:#183a32;
  --background-cyan:#1d3e47;
  --background-pink:#3e2141;
  --background-indigo:#29294b;
  --background-yellow:#2c261c;

  //text
  --text-default: #fafcff;
  --text-medium: #cfd3d8;
  --text-placeholder: #6c7793;
  --text-inverse: #181b1f;
  --text-light: #A3ADC2;

  --text-blue: #6EB3F7;
  --text-green: #26D97F;
  --text-cyan: #47EBEB;
  --text-pink: #ED5EC9;
  --text-indigo: #8080FF;
  --text-yellow: #FFBF00;

  --text-light-btn: #26d97f;


  //   brand colors
--brand-primary: #47EBEB;

  //border
  --border-primary: #646cff;
  --border-primary-inverse: #7d858d;
  --border-strong: #303452;
  --border-default: #3c434b;
  --border-weak: #2b3036;

  //button
  //button
  // --button-primary: #4A6DD9;
  --button-primary: #1a1a1a;
  --button-primary-hover: none;
  --button-primary-pressed: #1e2226;
  --button-primary-disabled: #3d3a3a;

  --button-bg: #162829;

  //controls
  --switch-tab: #2b3036;
  --switch-tag: #121518;
  --switch-background-off: #121518;
  --switch-background-on: #4a6dd9;
  --slider-handle: #121518;
  --slider-track: #2b3036;
  --slider-fill: #4a6dd9;
}
