@use "./colors";

.main {
  height: 100dvh;
  background: var(--page-default);
  overflow-x: hidden;
  color: var(--text-default);
  .container_box{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 1200px;
    width: 100%;
    gap: 10rem;
    margin-bottom: 10rem;
  }
}
