@import "./styles/_colors.scss";

*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* color: var(--text-default); */
  font-family: sans-serif, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
